# Dossiers de dépendances
node_modules/
vendor/

# Fichiers d'environnement
.env
.env.local

# Fichiers de build
/frontend/build/
/frontend/dist/

# Fichiers de cache
/backend/var/
.phpunit.result.cache

# IDE
.idea/
.vscode/

# Système
.DS_Store
Thumbs.db